@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  margin: 0 auto;
  height: 20px;
  width: 20px;
  animation: loading 1s linear infinite;
}
