.wrapper {
  position: relative;
  min-height: 90vh;
  max-width: 95vw;
  margin: 30px auto 0;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.loading-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
