.single-image {
  height: 52px;
  width: fit-content;
  object-fit: contain;
  max-width: 100%;
}

.multi-image {
  display: flex;
  flex: 1 1 0;
  height: 52px;
  width: 0;
  object-fit: contain;
}

.multi-image:not(:last-child) {
  margin-right: 20px;
}
